html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.info {
  text-align: center;
  background: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

webview {
  height: calc(100% - 24px);
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
